.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;

    .block {
        background-color: white;
        padding: 24px;
        border-radius: 5px;
        width: 100%;
        max-width: 500px;
        margin: 0 10px;
        position: relative;

        .close-btn {
            position: absolute;
            top: -20px;
            right: -20px;
            display: block;
            background-color: white;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover svg {
                transform: scale(1.1);
            }
        }

        .header {
            text-align: center;
            margin-bottom: 32px;

            .title {
                font-weight: 700;
                font-size: 2em;
                color: var(--haze-color-100);
            }
        }

        .form-block {
            display: flex;
            gap: 20px;
            height: 550px;
            
            .form-column {
                
                &:first-child {
                    width: 30%;
                }

                &:last-child {
                    width: 70%;
                }
            }
        }

        .form-row {
            margin-top: 25px;
            position: relative;

            &:first-child {
                margin-top: 0px;
            }

            &:nth-child(4) {
                margin-top: 35px;
            }

            .icon-block {
                position: relative;

                .icon {
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    padding-left: 3px;
                    display: flex;
                    align-items: center;
                    pointer-events: none;

                    svg {
                        fill: var(--neutral-color-500);
                    }
                }

                .input {
                    padding-left: 30px;
                }
            }

            .radio-block {
                display: flex;
                flex-wrap: nowrap;
                gap: 7px;
                margin-top: 8px;
                color: var(--haze-color-0);

                .radio-input {
                    width: 18px;
                    height: 18px;
                }

                .radio {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    cursor: pointer;
                }
            }

            .require {

                &::after {
                    content: '*';
                    margin-left: 5px;
                    color: rgb(255, 47, 47);
                }
            }

            .tip {
                margin-top: 5px;
                color: var(--neutral-color-500);
                font-size: 0.8em;
                font-weight: 700;
                position: absolute;
            }

            .error {
                color: red;
            }

            .label {
                display: block;
                font-weight: 700;
                color: var(--haze-color-100);
                font-size: 1.15em;
            }

            .term {
                height: 17px;
                width: 17px;
            }

            .file-input {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 80px;
                margin-top: 8px;
                padding: 5px;
                border: 5px dashed var(--haze-color-0);
                border-radius: 10px;
                color: var(--haze-color-0);
                cursor: pointer;

                &:hover {
                    color: var(--haze-color-100);
                    border-color: var(--haze-color-100);
                    transform: scale(1.02);
                }
            }

            .inform-text {
                display: inline-block;
                margin-top: 8px;
            }

            .input {
                width: 100%;
                padding: 8px 0px 8px 0px;
                border: 0;
                border-bottom: 1px solid black;
                outline: none;
                font-size: 1em;
                padding-left: 2px;

                &::placeholder {
                    color: var(--neutral-color-500);
                }
            }

            .textarea {
                max-width: 100%;
                min-width: 100%;
                min-height: 2.5em;
                max-height: 8em;
            }

            .condition-row {
                display: flex;
                gap: 15px;
                width: 100%;
                align-items: flex-end;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0px;
                }

                .input {
                    min-width: 0;
                    width: 100%
                }
            }

            .label-block {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .task-btn {
                height: 15px;
                border-radius: 5px;
                border: 0;
                color: var(--haze-color-0);
                background-color: white;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }

        }

        .term-row {
            display: flex;
            align-items: center;
            gap: 7px;
        }

        .link {
            color: rgba(79, 70, 229, 1);
            margin-left: 4px;
            text-decoration: underline;
            font-weight: 700;

            &:hover {
                color: rgb(69, 62, 213);
            }
        }

        .grid-row {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 16px;
        }

        .sign-up, .sign-in {
            margin-top: 15px;
            text-align: center;
        }

        .button {
            width: 100%;
            padding: 10px 5px;
            color: white;
            background-color: var(--haze-color-100);
            border: 0;
            cursor: pointer;
            border-radius: 5px;
            font-size: 1.2em;
            font-weight: 700;
            margin-top: 25px;

            &:hover {
                background-color: var(--haze-color-0);
                transform: scale(1.02);
            }
        }
    }

    .news-block {
        max-width: 1200px;

        .form-row {
            .input {
                max-height: 16em;
            }

            .editor-plugin {
                border: 0;

                .editor-style {
                    font-family: var(--poppin);
                    max-height: 420px;
                    min-height: 420px;
                }
            }
        }
    }
}


// color: var(--neutral-color-900); display: flex; align-items: center; flex-direction: column; justidy-content: center; padding: 25px; gap: 15px