.news-list {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 25px;
}

.items {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    gap: 50px;
}
