.list {
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: flex-end;
    flex-grow: 1;
    position: relative;

    .prev {
        position: absolute;
        left: 8px;
        top: 0;
        font-size: 6vw;
        background-color: transparent;
        cursor: pointer;
        border: 0;
        color: var(--neutral-color-800);
        height: 100%;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    .next {
        position: absolute;
        right: 8px;
        top: 0;
        font-size: 6vw;
        background-color: transparent;
        cursor: pointer;
        border: 0;
        color: var(--neutral-color-800);
        height: 100%;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.items {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-auto-rows: max-content;
    gap: 50px;
    
    li {
        display: flex;
        justify-content: center;
    }
}