.news-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 10px;

    .image {
        border-radius: 8px;
        width: 100%;
        height: 20vh;

    }

    .title {
        color: var(--neutral-color-900);
        font-size: 13px;
    }

    .category {
        color: var(--neutral-color-500);
        font-size: 12px;
    }

    .button {
                align-self: flex-end;
                padding: 15px 10px;
                background-color: var(--neutral-color-200);
                border-radius: 10px;
                border: 1px solid var(--neutral-color-400);
                color: var(--neutral-color-500);
                cursor: pointer;

                &:hover {
                    background-color: var(--neutral-color-300);
                    border-color: var(--neutral-color-500);
                    color: var(--neutral-color-600);
                }
            }
}