.news-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
    overflow: hidden;
    font-size: 13px;
    max-width: 250px;

    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 10px;
    }

    .image {
        border-radius: 8px;
        width: 100%;
        max-width: 250px;
        height: 20vh;
        max-height: 160px;
        object-fit: cover;
    }

    .title {
        color: var(--neutral-color-900);
        font-size: 1em;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .category {
        color: var(--neutral-color-500);
        font-size: 0.95em;
    }
}