@use 'normalize';
@import './variables.css';

body {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    scrollbar-color: var(--neutral-color-900) transparent;
}
