* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: color 0.1s, background-color 0.2s, fill 0.2s, border-color 0.2s;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit
}
