.description-items {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    gap: 25px;

    li {
        &:nth-child(3) {
            grid-column: 1 / span 2;
        }
    }

    .description-item {
        display: flex;
        flex-direction: column;


        .title {
            width: 120px;
            color: var(--neutral-color-500);
            font-size: 13px;
            margin-bottom: 5px;
            display: inline-block;
        }


        .description {
            font-size: 14px;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    }
}