.rectangle {
    width: 100vw;
    height: 110px;
    background-color: var(--neutral-color-100);
    position: relative;
    padding: 10px 60px;
    box-shadow: var(--shadow);
    z-index: 900;

    &::before {
        content: '';
        width: 185px;
        height: 110px;
        background-color: #FFD700;
        position: absolute;
        top: 0;
        left: 0;
    }

    &::after {
        content: '';
        border-left: 110px solid #FFD700;
        border-bottom: 110px solid transparent;
        position: absolute;
        top: 0;
        left: 185px;
    }
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--neutral-color-0);
    font-size: 30px;
    font-weight: 700;
    font-family: var(--poppins);
    gap: 25px;
    letter-spacing: 4px;
    user-select: none;

    span:nth-child(3) {
        color: #FFD700;
    }

    img {
        width: 65px;
        height: 65px;
    }
}

.header {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 901;
}

.contact-block {
    display: flex;
    padding: 15px 0;
    gap: 10px;
    user-select: auto;

    .icon-block {
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;
        padding: 5px;
        border: 2px solid var(--haze-color-0);
    }

    .icon {
        width: 20px;
        height: 20px;
        fill: var(--haze-color-0);
        color: var(--haze-color-0);
    }

    .contact {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        font-family: var(--poppins);

        span {
            &:first-child {
                font-weight: bold;
                color: var(--neutral-color-900);
                font-size: 12px;
            }

            &:last-child {
                color: var(--neutral-color-600);
                font-size: 11px;
            }
        }
    }
}

.nav-block {
    width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -30px;
    left: 0;
    font-family: var(--poppins);
    font-size: 13px;
    letter-spacing: 1.5px;
    box-shadow: var(--shadow);
    background-color: var(--nav-color-0);
    z-index: 902;

    @media (min-width: 768px) and (max-width: 1200px) {
        min-height: 40px;
        max-height: 40px;
    }

    .nav {
        width: 100%;
        background-color: var(--nav-color-0);
        color: #ffffff;
        font-family: var(--poppins);
        font-size: 13px;

        .list {
            height: 100%;
            display: flex;
            align-items: center;

            li {
                height: 100%;
                padding-top: 14px;
                cursor: pointer;

                .link {
                    padding: 14px 18px;
                }

                &:hover {
                    background-color: var(--nav-color-100);
                    color: #d1d1d1;
                    padding-bottom: 12px;
                    border-bottom: 2px solid rgb(255, 255, 255);
                    transition: all 1ms;
                }
            }
        }
    }

    .auth-block {
        background-color: var(--haze-color-0);
        display: flex;
    }

    .auth {
        padding: 14px;
        background-color: var(--haze-color-0);
        position: relative;

        &:first-child::after {
            content: '';
            position: absolute;
            top: 25%;
            bottom: 25%;
            right: 0;
            border-right: 1px solid black;
        }

        &:hover {
            background-color: var(--haze-color-100);
        }
    }

    .toggle-block {
        min-width: 80px;
        height: 48px;
        padding: 8px 10px;
        margin-right: 15px;
        background-color: var(--nav-color-0);

        @media (min-width: 768px) and (max-width: 1200px) {
        min-height: 40px;
        max-height: 40px;
        padding: 4px 10px;
    }

        .toggle {
            border: 2px solid var(--haze-color-0);
            border-radius: 50px;
            height: 100%;
            width: 100%;
            position: relative;
            background-color: inherit;

            &:has(.checkbox:checked) {
                background-color: rgb(135, 206, 235);
            }

            .checkbox {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
                z-index: 2;
                border-radius: 50px;

                &:checked~.switch {
                    content: '';
                    background-color: yellow;
                    border: 2px solid rgb(209, 209, 0);
                    left: 50%;
                    margin: 0;
                    box-shadow: none;
                }
            }

            .switch {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 4%;
                left: 4%;
                width: 46%;
                height: 92%;
                border-radius: 50%;
                background-color: transparent;
                transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
                box-shadow: -8px 0px 0 0 rgb(222, 225, 197);
                margin: 0 0 0 10px;
            }
        }
    }

    .profile-block {
        display: flex;
        justify-content: space-between;

        .profile {
        background-color: var(--haze-color-0);
        padding-left: 10px;
        display: flex;
        align-items: center;
        gap: 7px;
        position: relative;

        &::before {
            content: '';
            border-right: 24px solid var(--haze-color-0);
            border-top: 48px solid transparent;
            position: absolute;
            top: 0px;
            left: -24px;

            @media (min-width: 768px) and (max-width: 1200px) {
                border-top-width: 40px;
                left: -23.7px;
            }
        }

        .profile-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;

            @media (min-width: 768px) and (max-width: 1200px) {
                width: 35px;
                height: 35px;
            }
        }

        .profile-info {
            width: 100px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0%;
                bottom: 0%;
                right: 0;
                border-right: 1px solid black;
            }
        }
    }
    }
}