.rectangle {
    width: 100%;
    height: 110px;
    background-color: var(--neutral-color-0);
    position: relative;
    padding: 10px 60px;

    &::before {
        content: '';
        width: 185px;
        height: 110px;
        background-color: #FFD700;
        position: absolute;
        top: 0;
        left: 0;
    }

    &::after {
        content: '';
        border-left: 110px solid #FFD700;
        border-bottom: 110px solid transparent;
        position: absolute;
        top: 0;
        left: 185px;
    }
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--neutral-color-0);
    font-size: 30px;
    font-weight: 700;
    font-family: var(--poppins);
    gap: 25px;
    letter-spacing: 4px;

    span:nth-child(3) {
        color: #FFD700;
    }

    img {
        width: 65px;
        height: 65px;
    }
}

.header {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 1;
}

.contact-block {
    display: flex;
    padding: 15px 0;
    gap: 10px;

    .icon-block {
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;
        padding: 5px;
        border: 2px solid var(--haze-color-0);
    }

    .icon {
        width: 20px;
        height: 20px;
        fill: var(--haze-color-0);
        color: var(--haze-color-0);
    }

    .contact {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        font-family: var(--poppins);

        span {
            &:first-child {
                font-weight: bold;
                color: var(--neutral-color-900);
                font-size: 12px;
            }

            &:last-child {
                color: var(--neutral-color-600);
                font-size: 11px;
            }
        }
    }
}

.nav-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -30px;
    left: 0;
    font-family: var(--poppins);
    font-size: 13px;
    letter-spacing: 1.5px;

    .nav {
        width: 100%;
        background-color: var(--nav-color-0);
        color: #ffffff;
        font-family: var(--poppins);
        font-size: 13px;

        .list {
            display: flex;

            li {
                padding: 14px 18px;
                cursor: pointer;

                &:hover {
                    background-color: var(--nav-color-100);
                    color: #d1d1d1;
                }
            }
        }
    }

    .auth-block {
        background-color: var(--haze-color-0);
        display: flex;
    }
    
    .auth {
        padding: 14px;
        background-color: var(--haze-color-0);
        position: relative;

        &:first-child::after {
            content: '';
            position: absolute;
            top: 25%;
            bottom: 25%;
            right: 0;
            border-right: 1px solid black;
        }

        &:hover {
            background-color: var(--haze-color-100);
        }
    }
}