.news-blog {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid var(--neutral-color-300);

    .header {
        width: 100%;
        height: 400px;
        position: relative;
        border-bottom: 2px solid var(--neutral-color-300);

        h3 {
            position: absolute;
            bottom: 50;
            left: 0;
            right: 0;
            text-align: center;
            color: white;
            font-size: 40px;
            font-weight: 500;
        }

        .image-bg {
            width: 100%;
            height: 100%;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.8802) 76%, rgba(20, 20, 20, 1) 100%);
            }

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    .blog-body {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        color: var(--neutral-color-900);

        .news-body {
            border-right: 2px solid var(--neutral-color-300);
            display: flex;
            flex-direction: column;
            padding: 25px 0px;

            .news-content {
                padding: 25px;
                font-size: 15px;
                line-height: 24px;
                color: var(--neutral-color-900)
            }

            .news-description {
                padding: 25px;
                border-bottom: 2px solid var(--neutral-color-300);

                .description-items {
                    display: grid;
                    grid-template-columns: repeat(2, 120px);
                    gap: 25px;

                    li {
                        &:nth-child(3) {
                            grid-column: 1 / span 2;
                        }
                    }

                    .description-item {
                        display: flex;
                        flex-direction: column;


                        .title {
                            width: 120px;
                            color: var(--neutral-color-500);
                            font-size: 13px;
                            margin-bottom: 5px;
                            display: inline-block;
                        }


                        .description {
                            font-size: 14px;
                            overflow-x: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                    }
                }
            }

            .news-links {
                padding: 25px;
                gap: 10px;

                .title {
                    color: var(--neutral-color-500);
                    font-size: 13px;
                    margin-bottom: 10px;
                    display: inline-block;
                }

                .news-items {
                    list-style-type: disc;
                    padding: 15px 15px 15px 40px;
                    border-radius: 10px;
                    background-color: var(--neutral-color-300);
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    li {
                        font-size: 14px;
                    }
                }
            }

        }
    }
}